<html>
<head>
  <title>Big Fat RSS </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- TODO
  Fix the path to css, images, … We want to provide it via the template
  engine as a absolute url (e.g. /css/utility.css).
  -->
  <link rel="stylesheet" type="text/css" href="css/utility.css">
  <link rel="stylesheet" type="text/css" href="css/dijit.css">
</head>
<body>

<div class="floatingLogo"><img src="images/logo_small.png"></div>

<h1>Tiny Tiny RSS</h1>

<div class="content">
  <div class="error">
    <span><img src="../images/alert.png"></span>
    <span><b>Fatal Error</b>: {{ error_message|striptags('<b>')|raw }}</span>
  </div><!-- class="error" -->
</div><!-- class="content" -->

</body>
</html>
