{% from 'macros/messages.html' import error as error_macro %}
{% from 'macros/messages.html' import notice as notice_macro %}
{% from 'macros/tags.html' import stylesheet_tag as stylesheet_tag_macro %}
{% from 'macros/tags.html' import javascript_tag as javascript_tag_macro %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Tiny Tiny RSS</title>

  <script type="text/javascript">
    var __ttrss_version = "{{ VERSION }}"
  </script>

  {%- for cssfile in cssfiles %}
  {{ stylesheet_tag_macro(cssfile['filename'], cssfile['timestamp']) }}
  {%- endfor %}

  <?php print_user_stylesheet() ?>

  <style type="text/css">
    {{ css|raw }}
  </style>

  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <link rel="icon" type="image/png" sizes="72x72" href="images/favicon-72px.png" />

  {%- for jsfile in jsfiles %}
  {{ javascript_tag_macro(jsfile['filename'], jsfile['timestamp']) }}
  {%- endfor %}

  <script type="text/javascript">
    require({cache:{}});
    {{ js|raw }}
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <script type="text/javascript">
      Event.observe(window, 'load', function() {
        init();
      });
  </script>
</head>

<body id="ttrssMain" class="claro">

<div id="overlay" style="display : block">
  <div id="overlay_inner">
    <div class="insensitive">
      Loading, please wait...
    </div>
    <div dojoType="dijit.ProgressBar" places="0" style="width : 300px" id="loading_bar"
        progress="0" maximum="100">
    </div>
    <noscript>
      <br/>
      {{ error_macro("Javascript is disabled. Please enable it.") }}
    </noscript>
  </div><!-- id="overlay_inner" -->
</div><!-- id="overlay" -->

<div id="notify" class="notify">
</div><!-- id="notify" -->
<div id="cmdline" style="display:none;">
</div><!-- id="cmdline" -->
<div id="headlines-tmp" style="display:none">
</div><!-- id="headlines-tmp" -->

<div id="main" dojoType="dijit.layout.BorderContainer">

  <div id="feeds-holder" dojoType="dijit.layout.ContentPane" region="leading" style="width:20%;" splitter="true">
    <div id="feedlistLoading">
      <img src='images/indicator_tiny.gif'/>
      Loading, please wait...
    </div><!-- id="feedlistLoading" -->
    <div id="feedTree">
    </div><!-- id="feedTree" -->
  </div><!-- id="feeds-holder" -->

  <div id="header-wrap" dojoType="dijit.layout.BorderContainer" region="center" gutters="false">
    <div id="content-wrap" dojoType="dijit.layout.BorderContainer" region="center">

      <div id="toolbar" dojoType="dijit.layout.ContentPane" region="top">
        <div id="main-toolbar" dojoType="dijit.Toolbar">

          <form id="headlines-toolbar" action="" onsubmit="return false">
          </form><!-- id="headlines-toolbar" -->

          <form id="main_toolbar_form" action="" onsubmit="return false">
            <button dojoType="dijit.form.Button" id="collapse_feeds_btn"
                onclick="collapse_feedlist()"
                title="Collapse feedlist" style="display:none;">
              &lt;&lt;
            </button>

            <select name="view_mode" title="Show articles"
                onchange="viewModeChanged()" dojoType="dijit.form.Select">
              <option selected="selected" value="adaptive">Adaptive</option>
              <option value="all_articles">All Articles</option>
              <option value="marked">Starred</option>
              <option value="published">Published</option>
              <option value="unread">Unread</option>
              <option value="unread_first">Unread First</option>
              <option value="has_note">With Note</option>
            </select>

            <select name="order_by" title="Sort articles"
                onchange="viewModeChanged()" dojoType="dijit.form.Select">
              <option selected="selected" value="default">Default</option>
              <option value="feed_dates">Newest first</option>
              <option value="date_reverse">Oldest first</option>
              <option value="title">Title</option>
            </select>

            <div dojoType="dijit.form.ComboButton" onclick="catchupCurrentFeed()">
              <span>Mark as read</span>
              <div dojoType="dijit.DropDownMenu">
                <div dojoType="dijit.MenuItem" onclick="catchupCurrentFeed('1day')">
                  Older than one day
                </div>
                <div dojoType="dijit.MenuItem" onclick="catchupCurrentFeed('1week')">
                  Older than one week
                </div>
                <div dojoType="dijit.MenuItem" onclick="catchupCurrentFeed('2week')">
                  Older than two weeks
                </div>
              </div><!-- dijit.DropDownMenu -->
            </div><!-- dijit.form.ComboButton -->
          </form><!-- id="main_toolbar_form" -->

          <div class="actionChooser">

            {%- for hook_action_item in hook_action_items %}
            {{ hook_toolbar_button|raw }}
            {%- endfor %}

            <button id="net-alert" dojoType="dijit.form.Button"
              style="display:none;" disabled="true"
              title="Communication problem with server.">
              <img src="images/error.png" />
            </button><!-- id="net-alert" -->

            <button id="newVersionIcon" dojoType="dijit.form.Button" style="display : none">
              <img onclick="newVersionDlg()" src="images/new_version.png"
                  title="New version of Tiny Tiny RSS is available!" />
            </button><!-- id="newVersionIcon" -->


            <div dojoType="dijit.form.DropDownButton">
              <span>Actions...</span>
              <div dojoType="dijit.Menu" style="display: none">
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcPrefs')">
                  Preferences...
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcSearch')">
                  Search...
                </div>
                <div dojoType="dijit.MenuItem" disabled="1">
                  Feed actions:
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcAddFeed')">
                  Subscribe to feed...
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcEditFeed')">
                  Edit this feed...
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcRemoveFeed')">
                  Unsubscribe
                </div>
                <div dojoType="dijit.MenuItem" disabled="1">
                  All feeds:
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcCatchupAll')">
                  Mark as read
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcShowOnlyUnread')">
                  (Un)hide read feeds
                </div>
                <div dojoType="dijit.MenuItem" disabled="1">
                  Other actions:
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcToggleWidescreen')">
                  Toggle widescreen mode
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcTagSelect')">
                  Select by tags...
                </div>
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcHKhelp')">
                  Keyboard shortcuts help
                </div>
                {%- for hook_action_item in hook_action_items %}
                {{ hook_action_item|raw }}
                {%- endfor %}
                {%- if hide_logout == false %}
                <div dojoType="dijit.MenuItem" onclick="quickMenuGo('qmcLogout')">
                  Logout
                </div>
                {%- endif %}
              </div><!-- dijit.Menu -->
            </div><!-- dijit.form.DropDownButton -->
          </div><!-- class="actionChooser" -->
        </div><!-- id="main-toolbar" dijit.Toolbar -->
      </div><!-- id="toolbar" dijit.layout.ContentPane -->

      <div id="headlines-wrap-inner" dojoType="dijit.layout.BorderContainer" region="center">

        <div id="floatingTitle" style="display : none">
        </div><!-- id="floating Title" -->

        <div id="headlines-frame" dojoType="dijit.layout.ContentPane"
          onscroll="headlines_scroll_handler(this)" region="center">
          <div id="headlinesInnerContainer">
            <div class="whiteBox">
              Loading, please wait...
            </div><!-- class="whiteBox" -->
          </div><!-- id="headlinesInnerContainer" -->
        </div><!-- id="headlines-frame" dijit.layout.ContentPane -->

        <div id="content-insert" dojoType="dijit.layout.ContentPane" region="bottom"
          style="height : 50%" splitter="true">
        </div><!-- dijit.layout.ContentPane -->
      </div><!-- id="headlines-wrap-inner" dijit.layout.BorderContainer -->

    </div><!--id="content-wrap" dijit.layout.BorderContainer  -->
  </div><!-- id="header-wrap" dijit.layout.BorderContainer -->

</div><!-- id="main" dijit.layout.BorderContainer -->
</body>
</html>
